/*importing fonts from "fonts folder"*/
@font-face {
  font-family: 'henken';
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}
/*Global declearation*/
*{
  margin: 0;
}

body{
  background-color: lightblue;
  font-family: henken ,'Edu NSW ACT Foundation', cursive;
}
main{
  display: grid;
  place-items: center;
  min-height: 100vh;
}
img{
  position: relative;
  border-radius: 15px;
  width: 100%;
}
.main-container{
  display: grid;
  position: absolute; 
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  width: 280px;
  padding: 15px;
  
}

h1,h2{
  position: relative;
}
h1{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  text-align: center;
  
}
h2{
  color: rgba(128, 128, 128, 0.60);
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  padding: 15px 0 20px 0;
}

/*modifing for mobile responsiveness*/
@media (max-width: 600px) {
  *{
    margin:initial;
  }
  img{
    position: relative;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }
  main{
    display: block;
  }

  .main-container{
    background:transparent;
    backdrop-filter: blur(20px);
    border: none;
    width: 100%;
    border-radius: 0;
    padding: 0;
    height: 100%;
  }
  h1,h2{
 
    padding: 20px;
  }
  h2{
    color: white;
  }
}

/*This was a fun project 🚀 
Coded by keegan kartel/Ahmed Mubarak

*/