/*importing fonts from "fonts folder"*/
@font-face {
  font-family: 'henken';
  src: url(fonts/HankenGrotesk-VariableFont_wght.ttf);
}


/*Global declearation*/
*{
 margin: 0;
  font-family: henken ,'Edu NSW ACT Foundation', cursive;
}

body{
  background-color: lightblue;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

img{
  position: relative;
  border-radius: 15px;
  width: 100%;
}
.main-container{
  display: grid;
  position: absolute; 
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  width: 280px;
  padding: 15px;
  
}

h1,h2{
  position: relative;
}
h1{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-top: 20px;
  text-align: center;
  
}
h2{
  color: rgba(128, 128, 128, 0.60);
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  padding: 15px 0 20px 0;
}
